
html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}   
.social-links{
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}
.social-links li{
    display: inline-block;
}
.social-links a{
    text-decoration: none;
    padding: 4px;
}
.wrapper{
    background-color: lightpink;
    height: 80%;
}
.profile-picture{
    border-radius: 50%;
}



